body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.myTitle {
  font-family: 'Arial', sans-serif;  /* Replace 'Arial' with your preferred font */
  font-size: 20px;                   /* Adjust the font size as needed */
  font-weight: bold;                 /* Optional: make the font bold */
  color: #333;                       /* Optional: change the text color */
}